# Token para counicação com o módulo do pabx
#64 caracteres
PABX_AGENT_SECRET=
#url backend node https://{IP}:{PORTA}
PABX_AGENT_URL=

# Token JWT para comunicação com Backend 64 caracteres
JWT_SECRET=

# Variavéis para identificação da empresa no front end
# Nome
VITE_NAME_ENTERPRISE=
# Email que irá aparecer na dashboard
VITE_EMAIL_SUPPORT=example@gmail.com
# Numero de suporte
VITE_CONTACT_SUPPORT=5511999999999
# Logo que irá aparecer na dashboard
VITE_LOGO=/custom/logo.png
