# Porta do agente, que fará com que o processo suba, altere se necessário
PORT=8787

# 64 caracteres, compartilhado com o painel, mesmo token para ambos
JWT_SECRET=

# Url para conexão em tempo real web socket, seguir padrão 'wss://${DNS-PAINEL}/ws', ex: wss://pabx01.org.br/ws
WSS_URL=
# Porta sip para web socket e informações no front end, altere se necessário
SIP_PORT=5060

# ===== Conexão com seu MariaDB do Asterisk =====
#Host, alere se necessário
DB_HOST=127.0.0.1
# Porta, altere se necessário
DB_PORT=3306
# Usuário utilizado
DB_USER=
# Senha do usuário
DB_PASSWORD=
# Nome do Database, altere se necessário
DB_NAME=asterisk

# ===== HMAC compartilhado com o painel =====
# Use a mesma chave que você criou no .env no projeto principal
#Url de comunicação: http://${IP}:{PORTA}
PABX_AGENT_URL=
# 64 caracteres
PABX_AGENT_SECRET=

# ===== Conexão do Manager/Ami do asterisk ====
#Preenchido com ip e porta padrão, altere se necessário
AMI_HOST=127.0.0.1
AMI_PORT=5038
# Usuario manager
AMI_USER=
# Senha manager
AMI_PASSWORD=

# ===== Conexão do Http/Ari do asterisk ====
# Preenchido com URL padrão, altere se necessário
ARI_URL=http://127.0.0.1:8089
# Usuário
ARI_USER=
# Senha
ARI_PASSWORD=
# Nome do App, altere caso necessário
ARI_APP_NAME=pabx-agent

# Janela anti-replay (segundos)
SIGNATURE_WINDOW=300
